.sc-portfolio {
  background: #ededed;
  display: block;
  width: 100%;
}

.sc-portfolio__flex {
  align-items: flex-start;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: 48rem) {
    flex-wrap: nowrap;
    height: 21rem;
    margin: 0 auto;
    overflow: visible;
    width: 90%;
  }
}

.sc-portfolio__section__background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: content-box;
  height: 20vw;
  opacity: 1;
  transition: opacity 0.4s ease;
  width: 100%;
  z-index: 1;

  @media (min-width: 48rem) {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.sc-portfolio__section__foreground {
  height: 100%;

  @media (min-width: 48rem) {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
  }
}

.sc-portfolio__section__description {
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem auto;
  max-width: 80%;
  text-align: center;
  z-index: 10;

  @media (min-width: 48rem) {
    color: transparent;
  }
}

.sc-portfolio__section__title {
  color: #333;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  margin-top: 0;
  text-align: center;
  z-index: 10;

  @media (min-width: 48rem) {
    color: transparent;
    margin: initial;
  }
}

.sc-portfolio__section {
  // --skew-rate: 15deg;
  // --anti-skew-rate: -15deg;

  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  &:nth-child(even) {
    background-color: rgba(5, 110, 145, 0.2);

    @media (min-width: 48rem) {
      background-color: transparent;
    }
  }

  @media (min-width: 48rem) {
    flex: 1;
    flex-grow: 1;
    height: 100%;
    max-width: none;
    padding: 0.5rem 0 2rem;
    transition: flex-grow 0.2s ease, background 0.2s ease;

    > * {
      // transform: skew(var(--anti-skew-rate));
    }

    // transform: skew(var(--skew-rate));

    .sc-portfolio__section__title,
    .sc-portfolio__section__description {
      text-shadow: 0 0 2px transparent;
      transition: color 0.1s ease, text-shadow 0.1s ease;
    }

    .sc-portfolio__section__background {
      opacity: 0.1;

      @media (min-width: 48rem) {
        opacity: 1;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(5, 110, 145, 0.61);
      flex-grow: 2;

      .sc-portfolio__section__background {
        opacity: 0.1;
      }

      .sc-portfolio__section__title,
      .sc-portfolio__section__description {
        color: #333;
        text-shadow: 0 0 2px white;
        transition: text-shadow 0.8s linear, color 0.8s ease;
      }

      .sc-portfolio__section__title {
      }
    }
  }

  &:first-child,
  &:last-child {
    @media (min-width: 48rem) {
      flex: 1;
      margin: auto;
      max-width: none;

      &:hover,
      &:active,
      &:focus {
        flex-grow: 2;
      }
    }
  }
}
